node_modules

# Output
.output
.vercel
.netlify
.wrangler
.svelte-kit
/build
dist
*.ignore
*.ignore.*

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# turbo
.turbo
